# #!/usr/bin/env ruby
snippet ---
	IO.puts "🤔🤔🤔🤔🤔🤔🤔🤔"
	IO.inspect ${1:object}
snippet ;pr
	require IEx; IEx.pry
snippet --
	IO.puts "🦄 🦄 🦄 🦄 🦄 ✨   ${2:$1}   ✨ 🦄 🦄 🦄 🦄 🦄 🦄 "
	IO.inspect ${1:object}
snippet ;-
	IO.puts " ¯\_(⊙︿⊙)_/¯ ~ ~ "
snippet te
	test "${1}" do
	  assert ${2}
	end
snippet des
	describe "${1}" do
	  test "${2}" do
	    assert ${3}
	  end
	end
