# #!/usr/bin/env ruby
snippet pry
	require 'pry'; binding.pry;
snippet it
	it "${1:object}" do
	  ${2}
	end
snippet des
	describe "${1:object}" do
	  ${2}
	end
snippet dess
	require 'rails_helper'
	
	describe ${1:object} do
	  ${2}
	end
snippet lee
	let!(:${1:object}) { create :${2:$1}${3} }
snippet le
	let(:${1:object}) { create :${2:$1}${3} }
snippet ex
	expect(${1:object}).to eq ${2}
snippet W
	When "${1}" do
	  ${2}
	end
snippet G
	Given "${1}" do
	  ${2}
	end
snippet T
	Then "${1}" do
	  ${2}
	end
snippet ---
	p '-' * 88
	p ${1:object}
	p '-' * 88
snippet --
	p '-' * 88
	p "${2:$1}: #{${1:object}}"
snippet -=
	p '🍕🌭🍔' * 4
	p "${2:$1}: #{${1:object}}"
snippet ;-
	p ' ¯\_(⊙︿⊙)_/¯ ~ ~ ' * 5
